body {
    padding: 0;
    margin: 0;
    background: radial-gradient(circle, #9d8eb7, #b5b5b5);   font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 1rem;
}

.ttl-principal {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 0;
}

.txt-quiz {
    font-size: 1rem;
    width: 40%;
    text-align: center;
    margin-bottom: 2rem;
    line-height: 1.6;
}

.quiz {
    background-color: #021f47ae;
    padding: 2rem 3rem;
    width: 50%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
    border: 2px solid rgba(255,255,255,0.08);
    backdrop-filter: blur(4px);
    animation: aparecer 0.5s ease;
    min-height: 300px;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.ttl-quiz {
    font-size: 1.7rem;
    color: white;
    margin-bottom: 10px;
}

.linha {
    border-bottom: 2px solid darkblue;
    width: 95%;
    margin-bottom: 1.5rem;
}

.paragrafo-questoes {
    font-size: 1.2rem;
    font-weight: 600;
}

.opcoes ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.opces-resposta {
    background-color: rgba(250, 235, 215, 0.556);
    margin: 10px 0;
    width: 90%;
    padding: .6rem 1.2rem;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.opces-resposta:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

#rsp_tempo {
    margin-top: 1rem;
    text-align: center;
    background-color: rgba(0, 217, 255, 0.12);
    border: 2px solid #00D9FF;
    color: #7EEBFF;
    padding: 1rem;
    border-radius: 12px;
    font-size: 1.1rem;
    font-weight: 700;
    animation: piscar 0.8s infinite;
}

@keyframes piscar {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.btn-quiz {
    background-color: #1E3A5F;
    color: white;
    border: 3px solid #185691;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-family: "Press Start 2P", system-ui;
    font-size: 0.8rem;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 4px 4px 0px #0B1320;
    width: 97%;
}

.btn-quiz:hover {
    background-color: #08335c;
    transform: translateY(-2px);
}

#contadorQuiz {
    margin: 0 auto;
}

.btn-quiz:active {
    transform: translateY(3px);
    box-shadow: 2px 2px 0px #0B1320;
}

.numero-contador {
    font-size: 3rem;
    font-weight: bold;
    color: #010e2b;
    text-shadow: 0 0 15px #4DA8FF;
    text-align: center;
    margin-top: 3rem;
    font-family: "Press Start 2P", system-ui;
}

.contRelogio {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

#relogio {
    background-color: #0b1530;
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    border: 3px solid #4da6ff;
    box-shadow: 0 0 15px rgba(77, 166, 255, 0.5);
}

.resultado-final {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    color: white;
}

.titulo-resultado {
    font-family: "Press Start 2P", system-ui;
    font-size: 1.2rem;
    color: #4DA8FF;
    text-shadow: 0 0 10px #4DA8FF;
    margin-bottom: 1rem;
}

.resultado-info {
    font-size: 1.1rem;
    font-weight: 700;
    background-color: rgba(255,255,255,0.08);
    padding: 1rem;
    border-radius: 12px;
}

.mensagem-final {
    margin-top: 1rem;
    font-size: 1.1rem;
    line-height: 1.6;
    background-color: rgba(0,0,0,0.3);
    padding: 1.2rem;
    border-left: 5px solid #4da6ff;
    border-radius: 12px;
}

.rodape {
    text-align: center;
    padding: 1rem 1.2rem;
    font-size: .8rem;
    font-weight: 600;
}

@media screen and (max-width: 1024px) {
    .container {
        padding: 5rem 1rem;
    }

    .txt-quiz {
        width: 55%;
    }

    .quiz {
        width: 50%;
    }

    .ttl-quiz {
        font-size: 1.5rem;
    }

    .numero-contador {
        font-size: 2.5rem;
    }

    #relogio {
        font-size: 1.9rem;
    }

    #rsp_tempo {
        font-size: 1.150rem;
    }

    .titulo-resultado {
        font-size: 1.1rem;
    }

    .resultado-info {
        font-size: 1rem;
    }

    .mensagem-final {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {

    .txt-quiz {
        width: 80%;
    }

    .quiz {
        width: 60%;
    }

    .ttl-quiz {
        font-size: 1.5rem;
    }

    .numero-contador {
        font-size: 2.3rem;
    }

    #relogio {
        font-size: 1.7rem;
    }

    #rsp_tempo {
        font-size: 1rem;
    }

    .titulo-resultado {
        font-size: 1rem;
    }

    .resultado-info {
        font-size: .9rem;
    }

    .mensagem-final {
        font-size: .9rem;
    }

    .rodape {
        font-size: .750rem;
    }
}

@media screen and (max-width: 650px) {

    .ttl-principal {
        font-size: 1.2rem;
    }

    .txt-quiz {
        width: 90%;
        font-size: .9rem;
    }

    .ttl-quiz {
        font-size: 1.3rem;
    }

    .numero-contador {
        font-size: 2rem;
    }

    #relogio {
        font-size: 1rem;
    }

    .paragrafo-questoes {
        font-size: 1.150rem;
    }

    #rsp_tempo {
        font-size: .950rem;
    }

    .btn-quiz {
        font-size: .7rem;
    }

    .rodape {
        font-size: .750rem;
    }
}

@media screen and (max-width: 455px) {

    .ttl-principal {
        font-size: 1rem;
    }

    .txt-quiz {
        width: 90%;
        font-size: .8rem;
    }

    .ttl-quiz {
        font-size: 1.1rem;
    }

    .numero-contador {
        font-size: 1.5rem;
    }

    #relogio {
        font-size: 1rem;
    }

    .paragrafo-questoes {
        font-size: .950rem;
    }

    #rsp_tempo {
        font-size: .850rem;
    }

    .btn-quiz {
        font-size: .650rem;
    }

    .rodape {
        font-size: .6rem;
    }
}
